{% extends "base.html" %}

{% block content %}
    <h1>Digital Coptic Books</h1>
    <h2>Login</h2>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Your username and password didn't match. Please try again.
        </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        <div class="form-group">
            {% csrf_token %}
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <input type="submit" value="login" class="btn btn-primary">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>

    {# Assumes you set up the password_reset view in your URLconf #}
    <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock content %}
