<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/b/static/bootstrap.min.css" rel="stylesheet">
    <title>Digital Coptic Books - Login Page</title>
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
